footer {
	position: fixed;
	bottom: 0;
	left: 0;
	background: $logo-red;
	width: 100%;
}


/* Footer quick contact - sticky footer */
footer .quick-contact {
	padding-top: 25px;
	padding-bottom: 25px;

	ul.social-nav {
		margin: 0;
		padding: 0;

		li {
			list-style-type: none;
			display: inline;
			font-size: 14px;
			margin: 0 8px;
		}

		li:fist-child {
			margin-left: 0px;
		}

		li:last-child {
			margin-right: 0px;
		}
	}
}


/* Footer's contact button/page link */
footer .contact-button__wrapper {
	height: 150px;
	width: 100%;
	position: absolute;
	margin-top: -45px;
	cursor: pointer;

	a {
		color: $logo-red;
		font-weight: 900;
		position: absolute;
		z-index: -5;
		background: $white;
		box-shadow: 0 -5px 18px rgb(0, 0, 0.5);
		font-size: 30px;
		line-height: 85px;
		height: 100%;
		width: 100%;
		display: block;
		@include top-border-radius(15px);
	}

	a:hover {
		color: $primaryLink;
		text-decoration: none;
	}
}


/* CSS for mobile screen size - switch contact button */
@media screen and (max-width: 434px) {
	footer .quick-contact {

		.quick-contact__contact-icon img {
			max-width: 40px;
			min-width: 30px;
			width: 100%;
		}

	}
}


/* CSS for mobile screen size - switch contact button */
@media screen and (min-width: 435px) {
	footer .contact-icon {
		display: none;
	}
}





/* Footer's copyright */
footer copyright {
	font-size: 10px;
}