nav {
	margin-top: 50px;
	margin-bottom: 50px;
}

nav ul.nav-menu {
	margin: 0;
	padding: 0;
	text-align: center;

	li {
		list-style-type: none;
		display: inline;
		font-size: 55px;
	}

	li.nav-item {
		margin: 0 39px;
	}

	li.nav-item:nth-child(2) {
		margin-left: 0px;
	}

	li.nav-item:last-child {
		margin-right: 0px;
	}
}