/* Import helpers */
/* Four corners rounded */
/* Top corners rounded */
[aria-hidden="true"] {
  display: none; }

[aria-hidden="false"] {
  display: block; }

/* Import theme css */
/* reds */
/* fonts/text */
/* Base/default styles for theme */
body {
  background: #961e2c;
  margin: 0 0 100px 0; }

h1 {
  font-family: "Didact Gothic", sans-serif; }

h2 {
  font-family: "Didact Gothic", sans-serif; }

h3 {
  font-family: "Didact Gothic", sans-serif; }

h4 {
  font-family: "Didact Gothic", sans-serif; }

h5 {
  font-family: "Didact Gothic", sans-serif; }

h6 {
  font-family: "Didact Gothic", sans-serif; }

p {
  font-family: "Didact Gothic", sans-serif;
  font-size: 20px; }

ul {
  font-family: "Didact Gothic", sans-serif; }

a {
  font-family: "Didact Gothic", sans-serif;
  color: #000000; }

a:hover {
  color: #E52E43; }

/* a:visited {
	color: $primaryLinkVisited;
} */
a:active {
  color: #000000; }

header {
  margin-top: 50px; }

header #logo {
  max-width: 320px;
  min-width: 200px;
  width: 100%; }

header .logo {
  max-width: 320px;
  width: 100%; }

nav {
  margin-top: 50px;
  margin-bottom: 50px; }

nav ul.nav-menu {
  margin: 0;
  padding: 0;
  text-align: center; }
  nav ul.nav-menu li {
    list-style-type: none;
    display: inline;
    font-size: 55px; }
  nav ul.nav-menu li.nav-item {
    margin: 0 39px; }
  nav ul.nav-menu li.nav-item:nth-child(2) {
    margin-left: 0px; }
  nav ul.nav-menu li.nav-item:last-child {
    margin-right: 0px; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #bd1e2c;
  width: 100%; }

/* Footer quick contact - sticky footer */
footer .quick-contact {
  padding-top: 25px;
  padding-bottom: 25px; }
  footer .quick-contact ul {
    margin: 0;
    padding: 0; }
    footer .quick-contact ul li {
      list-style-type: none;
      display: inline;
      font-size: 14px;
      margin: 0 31px; }
    footer .quick-contact ul li:fist-child {
      margin-left: 0px; }
    footer .quick-contact ul li:last-child {
      margin-right: 0px; }

/* Footer's contact button/page link */
.contact-button__wrapper {
  background: #FFFFFF;
  height: 100px;
  width: 100%;
  position: absolute;
  -webkit-border-top-right-radius: 15px;
  -moz-border-top-right-radius: 15px;
  -ms-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-top-left-radius: 15px;
  -ms-border-top-left-radius: 15px;
  border-top-left-radius: 15px; }
  .contact-button__wrapper a {
    color: #bd1e2c;
    font-weight: 900; }
  .contact-button__wrapper a:hover {
    color: #000000;
    text-decoration: none;
    box-shadow: 0 -5px 18px #000001; }

@media (max-width: 767px) {
  .quick-contact__contact-button {
    padding: 0; } }

@media (min-width: 768px) {
  .contact-button__wrapper {
    margin-top: -45px;
    cursor: pointer; }
    .contact-button__wrapper a {
      font-size: 30px;
      line-height: 85px;
      height: 100%;
      width: 100%;
      display: block;
      -webkit-border-top-right-radius: 15px;
      -moz-border-top-right-radius: 15px;
      -ms-border-top-right-radius: 15px;
      border-top-right-radius: 15px;
      -webkit-border-top-left-radius: 15px;
      -moz-border-top-left-radius: 15px;
      -ms-border-top-left-radius: 15px;
      border-top-left-radius: 15px; } }

/* Footer's copyright */
footer copyright {
  font-size: 10px; }

/* Import components css */
.welcome {
  margin-bottom: 25px; }

.welcome p {
  color: #FFFFFF;
  text-align: justified; }

.welcome h2 {
  color: #FFFFFF; }

/* Contact form styles */
.contact-form {
  background: #FFFFFF; }
